<h1>物件一覧</h1>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  <tr>
<% @apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.name %></td>
    <td><%= apartment.rent %></td>
    <td><%= apartment.address %></td>
    <td><%= apartment.age %></td>
    <td><%= apartment.memo %></td>
  </tr>
<% end %>
</table>
<%= link_to "物件を登録する", new_apartment_path %>
