<div class = "show_list">
  <ul>
  <li>物件名：<%= @apartment.name %></li>
  <br>
  <li>賃料：<%= @apartment.rent %>円</li>
  <br>
  <li>住所：<%= @apartment.address %></li>
  <br>
  <li>築年数：<%= @apartment.age %>年</li>
  <br>
  <li>備考：<%= @apartment.memo %></li>
</ul>
<p style = "border-bottom: 1px solid black"></p>
<div>
  <ul>
    <% @station_count = 0 %>
    <% @apartment.stations.each do | station | %>
      <b>最寄り駅:</b><%= @station_count += 1 %>
      <br>
      <br>
      <li>路線名：<%= station.route %></li>
      <br>
      <li>駅名：<%= station.station %></li>
      <br>
      <li>徒歩分数：<%= station.by_walk %>分</li>
      <br>
    <% end %>
  </ul>
</div>
<%= link_to "編集", edit_apartment_path(@apartment.id) %>
<%= link_to '戻る', :back %>
